@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f2f2f2;
}

nav {
  background: #1b1b1b;
}

nav::after {
  content: "";
  clear: both;
  display: table;
}

nav .logo {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
  /* display: none; */
}

nav ul {
  float: right;
  list-style: none;
  margin-right: 40px;
  position: relative;
}

nav ul li {
  float: left;
  display: inline-block;
  background-color: #1b1b1b;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
}

nav ul li a:hover {
  color: cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
}

nav ul ul li a:hover {
  color: cyan;
  box-shadow: none;
}

nav ul ul {
  position: absolute;
  border-top: 3px solid cyan;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top 1s;
}

nav ul ul ul {
  border-top: none;
}

nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0;
  width: 150px;
  float: none;
  display: list-item;
  margin-bottom: 1 px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
  line-height: 50px;
}

nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px;
}

.show,
.icon,
input {
  display: none;
}

/* media query */
@media all and (max-width: 968px) {
  nav ul {
    margin-right: 0;
    float: left;
  }
  nav .logo {
    width: 100%;
    padding-left: 30px;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul ul ul li a {
    white-space: nowrap;
  }

  nav ul ul {
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul ul li {
    position: static;
  }

  nav ul ul li {
    border-bottom: 0;
  }

  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: cyan;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    font-size: 30px;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show + a,
  ul {
    display: none;
  }
  [id^="btn"]:checked + ul {
    display: block;
    transition: 1s;
  }
}
